@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
	size: auto;
	margin: 0mm;
}

.task-list-item::before {
	@apply hidden;
}

.task-list-item {
	@apply list-none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

::selection {
	@apply bg-nfh-accent-secondary;
}

:root {
	--background-primary: theme('colors.dracula.background-primary');
	--background-secondary: theme('colors.dracula.background-secondary');
	--text-primary: theme('colors.dracula.text-primary');
	--text-secondary: theme('colors.dracula.text-secondary');
	--accent-primary: theme('colors.dracula.accent-primary');
	--accent-secondary: theme('colors.dracula.accent-secondary');
}

/* Scrollbar */

/* Chrome */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-nfh-accent-primary transition-colors hover:bg-nfh-accent-primary;
}

/* Firefox */
* {
	scrollbar-width: 'thin';
	scrollbar-color: theme('colors.nfh-accent-primary') theme('colors.transparent');
}

kbd {
	font-family: monospace;
	background: var(--a2);
	padding: calc(var(--unit) * 0.5);
	border-radius: calc(var(--unit) * 0.5);
}

/* Orbit Animation */

.orbit-context:focus-within,
.orbit-context:hover {
	animation-play-state: paused;
}

.orbit-context:focus-within .orbit-element,
.orbit-context:hover .orbit-element {
	animation-play-state: paused;
}

@keyframes loop {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}
