@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
  background-color: #e30a17;
}

kbd {
  font-family: monospace;
  background: var(--a2);
  padding: calc(var(--unit) * 0.5);
  border-radius: calc(var(--unit) * 0.5);
}

@layer base {
  [data-theme='light'] {
    --background-primary: theme('colors.gray.50');
    --background-secondary: theme('colors.gray.100');
    --text-primary: theme('colors.gray.900');
    --text-secondary: theme('colors.gray.800');
    --accent-primary: theme('colors.red.600');
    --accent-secondary: theme('colors.red.700');
  }

  [data-theme='dark'] {
    --background-primary: theme('colors.stone.900');
    --background-secondary: theme('colors.stone.800');
    --text-primary: theme('colors.stone.50');
    --text-secondary: theme('colors.stone.100');
    --accent-primary: theme('colors.rose.500');
    --accent-secondary: theme('colors.rose.600');
  }

  [data-theme='dracula'] {
    --background-primary: theme('colors.dracula.600');
    --background-secondary: theme('colors.dracula.500');
    --text-primary: theme('colors.dracula.100');
    --text-secondary: theme('colors.dracula.200');
    --accent-primary: theme('colors.dracula.300');
    --accent-secondary: theme('colors.dracula.400');
  }

  [data-theme='hackernews'] {
    --background-primary: theme('colors.hackerNews.300');
    --background-secondary: theme('colors.hackerNews.100');
    --text-primary: theme('colors.hackerNews.200');
    --text-secondary: theme('colors.hackerNews.400');
    --accent-primary: theme('colors.hackerNews.600');
    --accent-secondary: theme('colors.hackerNews.500');
  }
  [data-theme='nord'] {
    --background-primary: theme('colors.nord.600');
    --background-secondary: theme('colors.nord.500');
    --text-primary: theme('colors.nord.200');
    --text-secondary: theme('colors.nord.100');
    --accent-primary: theme('colors.nord.300');
    --accent-secondary: theme('colors.nord.400');
  }
  [data-theme='ferrari'] {
    --background-primary: theme('colors.ferrari.600');
    --background-secondary: theme('colors.ferrari.500');
    --text-primary: theme('colors.ferrari.200');
    --text-secondary: theme('colors.ferrari.100');
    --accent-primary: theme('colors.ferrari.300');
    --accent-secondary: theme('colors.ferrari.400');
  }
  [data-theme='dos'] {
    --background-primary: theme('colors.dos.600');
    --background-secondary: theme('colors.dos.500');
    --text-primary: theme('colors.dos.200');
    --text-secondary: theme('colors.dos.100');
    --accent-primary: theme('colors.dos.300');
    --accent-secondary: theme('colors.dos.400');
  }

  a {
    @apply text-nfh-accent-primary;
  }
  a:hover {
    @apply text-nfh-accent-secondary;
  }
}
