---
import siteMetadata from '@/data/siteMetadata'
import News47ell from '@/components/icons/News47ell.html'
import X from '@/components/icons/X.html'
import RSS from '@/components/icons/RSS.html'
---

<header class="flex w-full items-center justify-between bg-stone-900 px-6 py-4">
	<div>
		<a href="/" aria-label={siteMetadata.title}>
			<News47ell />
		</a>
	</div>
	<div class="flex gap-x-4">
		<a href={`https://twitter.com/${siteMetadata.username}`}>
			<X />
		</a>
		<a href={`${siteMetadata.siteUrl}/blog/feed.xml`}>
			<RSS />
		</a>
	</div>
</header>
