---

---

<div data-card class="hidden overflow-hidden p-4 rounded-xl border border-zinc-500">
	<a data-url class="flex relative items-center gap-5">
		<div class="relative origin-center">
			<img class="block" data-image />
		</div>
		<div>
			<p data-title class="origin-left text-base font-semibold text-white md:text-xl"></p>
		</div>
	</a>
</div>
