---
import { getCollection } from 'astro:content'
const blog = await getCollection('blog')
import ViewsCounter from '@/components/ViewsCounter.astro'
import Link from '@/components/Link.astro'

const recentPosts = blog
	.sort((a, b) => b.data.published_at.getTime() - a.data.published_at.getTime())
	.slice(0, 3)
---

<div class="overflow-hidden rounded-xl border border-yellow-500 bg-stone-900">
	<div class="relative border-b border-yellow-500 px-4 py-3">
		<div class="flex items-center gap-x-2">
			<p class="font-bold">Recent Blog Posts</p>
		</div>
	</div>
	<div class="divide-y divide-purple-400 border-yellow-500">
		{
			recentPosts.map((post) => (
				<div class="flex no-underline items-baseline justify-between gap-x-4 p-4 max-sm:flex-col">
					<Link href={`/blog/${post.slug}`}>
						<p class="font-medium">{post.data.title}</p>
					</Link>
					<ViewsCounter slug={post.slug} trackViews={false} />
				</div>
			))
		}
	</div>
</div>
