---
const { id, ...attrs } = Astro.props
---

<h5 id={id} class="md:text-lg font-bold tracking-wide text-zinc-100" {...attrs}>
	<a
		href={`#${id}`}
		class="text-red-500 hover:decoration-yellow-500 transition-colors duration-100 hover:underline"
		>#</a
	>
	<slot />
</h5>
