---
import { getCollection } from 'astro:content'
const blog = await getCollection('blog')

import BaseLayout from '@/layouts/BaseLayout.astro'
import siteMetadata from '@/data/siteMetadata'

import Link from '@/components/Link.astro'
import ViewsCounter from '@/components/ViewsCounter.astro'
import Newsletter from '@/components/Newsletter.astro'

const tags = blog
	.map((blog) => blog.data.tags)
	.flat()
	.reduce<{ [key: string]: number }>(function (result, c) {
		const count = result[c] || 0
		result[c] = count + 1
		return result
	}, {})
---

<BaseLayout title="Tags" description={siteMetadata.description} type="website">
	<Newsletter />
	<main
		class="divide-y divide-purple-400 overflow-hidden rounded-xl border border-yellow-500 bg-stone-900"
	>
		<h1 class="text-4xl font-bold p-4">Tags</h1>
		<div class="flex flex-wrap gap-1 p-2">
			{
				Object.keys(tags)
					.sort((a, b) => tags[b] - tags[a])
					.map((tag) => (
						<Link
							class="p-2 m-1 border border-yellow-500 bg-stone-900 hover:bg-yellow-500 hover:text-stone-900"
							href={`/blog/tag/${tag.replace(/\s+/g, '-').toLowerCase()}`}
						>
							{tag} ({tags[tag]})
						</Link>
					))
			}
		</div>
	</main>
</BaseLayout>
